<article class = "post">
    {{#each posts as |post| }}
    <div class = "card">
        <div class = "card=header">
            <h4><a class="link link-button" href = "/post/{{id}}">{{title}}</a></h4>
            <p>--by {{user.username}} on {{format_date created_at}}</p>
        </div>
        <p class = "card-body">{{content}}</p>
    </div>
    {{/each}}
</article>